.work{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 70vh;
    margin-right: 4rem;
}

.w-right {
    position: relative;
}

.w-mainCircle {
    left: 9rem;
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    top: 2rem;
    background: white;
}

.w-mainCircle > * {
    position: absolute;
}

.w-button {
    width: 8rem;
    margin-top: 19px;
}


.w-mainCircle > :nth-child(1) {
    left: 6rem;
    bottom: 27vh;
   
}

#upwork_png {
    height: 20vh;
    border-radius: 50%;
    width: 20vh;
}

#fiverr_png {
    height: 20vh;
    border-radius: 50%;
    width: 20vh;
}
#amazon_png {
    height: 20vh;
    border-radius: 50%;
    width: 20vh;
}

#shopify_png {
    height: 20vh;
    border-radius: 50%;
    width: 20vh;
}

.w-mainCircle > :nth-child(2) {
    left: -3rem;
    top: 5rem;
}
.w-mainCircle > :nth-child(3) {
    left: 6vw;
    top: 10.5vh;
}

.w-mainCircle > :nth-child(4) {
    left: 15rem;
    top: 5rem;
}
.w-mainCircle > :nth-child(5) {
    left: 6vw;
    top: 24vh;
}

.w-secCircle {
    width: 6rem;
    height: 6rem;
    position: absolute;
    border-radius: 100%;
    border: 5px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    background: 'none';
    box-shadow: var(--smboxShadow);
    background: white;
}

.w-secCircle > img {
    transform: scale(0.6);
}

.w-backCircle {
    position: absolute;
    height: 13rem;
    width: 13rem;
    border-radius: 100%;
    z-index: -1;
}

.blueCircle {
    background: #194988;
    left: 18rem;
    top: 0rem;
}

.yelloCircle {
    background: #F5C32C;
    left: 18rem;
    top: 8rem;
}

@media screen and (max-width: 768px) {
    .work {
      flex-direction: column;
      height: 55rem;
      padding: 0;
      gap: 5rem;
      margin-top: -20vh;
      margin-left: 12vw;
    }

    .awesome span:nth-child(1){
        font-size: 1rem;
    }
    .awesome span:nth-child(2){
        font-size: 1rem;
    }
    .awesome span:nth-child(3){
        font-size: 1rem;
        width: 50%;
    }
  
    .w-right {
      /* display: flex;
      align-items: flex-start;
      justify-content:flex-start; */
      transform: scale(0.7);
      margin-top: -40vh;
      margin-left: 4vh;
    }
    .w-mainCircle{
      position: static;
      margin-left: -16vh;
      height: 40vh;
      width: 40vh;
    }
    .w-mainCircle > :nth-child(1) {
        left: -8vw;
        bottom: 35vh;
    }
    .w-mainCircle > :nth-child(2) {
        left: -9rem;
        top: 6rem;
    }
    .w-mainCircle > :nth-child(3) {
        left: -8vw;
        top: 13vh;
    }
    
    .w-mainCircle > :nth-child(4) {
        left: 6rem;
        top: 6rem;
    }
    .w-mainCircle > :nth-child(5) {
        left: -9vw;
        top: 32vh;
    }
    .w-backCircle{
        left: 6rem!important;
        height: 20vh;
        width: 20vh;

    }
}